# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\School en andere\Technologie Toegepaste Informatica\2_Semester\Webontwikkelingen_2\Labo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
